<header>
  <span class="title">Emily Samp</span>

  <nav>
    <ul>
      <li><a href="<%= relative_url '/' %>">Now</a></li>
      <li><a href="<%= relative_url '/blog' %>">Blog</a></li>
      <li><a href="<%= relative_url '/talks' %>">Talks</a></li>
      <li><a href="<%= relative_url '/podcasts' %>">Podcasts</a></li>
      <li><a href="<%= relative_url '/projects' %>">Projects</a></li>
    </ul>
  </nav>
</header>
